body {
    font: 14px/1.3em"Open Sans", Arial, Tahoma, sans-serif;
    background: url(../images/index-background.jpg) repeat-x;;
    color: #fff;
    
    
    
}

img {
    width: 240px; 
    height: 240px;
}


